<!-- this input is needed to let a user select a file, but it is ugly so we hide it. -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <table width="100%">
        <tr>
          <td>
            <em ng-if="!fileService.fileName">empty workspace</em>
            <span ng-if="fileService.fileName">
              <strong>{{fileService.fileName}}</strong>
              <small>(last modified {{fileService.fileLastModified}})</small>
            </span>
          </td>
          <td align="right">
            <span class="btn-toolbar-inline">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-primary" ng-click="fileService.openFile()">
                  <span class="glyphicon glyphicon-open"></span>
                  open local file
                </button>
              </div>

              <div class="btn-group btn-group-sm">
                <button class="btn btn-success" ng-click="sendFileToMachine()" ng-disabled="!machineService.isConnected">
                  <span class="glyphicon glyphicon-transfer"></span>
                  send to machine
                </button>
              </div>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-body" id="render-canvas-holder">
      <div id="warnings-render" class="alert alert-warning" hidden></div>
      <canvas id="render-canvas"></canvas>
    </div>
    <div class="panel-footer">
      <div id="info-render"></div>
    </div>
  </div>
</div>
