<div class="container">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        workspace dimensions
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" action="#">
          <div class="form-group">
            <label for="width" class="col-sm-2 control-label">width</label>
            <div class="col-sm-10">
              <input name="width" class="form-control" type="number" ng-model="settings.workspace_width_mm">
            </div>
            <span class="help-block col-sm-offset-2">The width (X) of the machine workspace in millimeters.</span>
          </div>
          <div class="form-group">
            <label for="depth" class="col-sm-2 control-label">depth</label>
            <div class="col-sm-10">
              <input name="depth" class="form-control" type="number" ng-model="settings.workspace_depth_mm">
            </div>
            <span class="help-block col-sm-offset-2">The depth (Y) of the machine workspace in millimeters.</span>
          </div>
          <div class="form-group">
            <label for="height" class="col-sm-2 control-label">height(Z)</label>
            <div class="col-sm-10">
              <input name="height" class="form-control" type="number" ng-model="settings.workspace_height_mm">
            </div>
            <span class="help-block col-sm-offset-2">The height (Z) of the machine workspace in millimeters.</span>
          </div>

          <hr>

          <div class="form-group">
            <label for="port" class="col-sm-2 control-label">port</label>
            <div class="col-sm-10">
              <select name="port" class="form-control"
                  ng-model="settings.workspace_port">
                  <option ng-value="path" ng-repeat="path in deviceHolder.devices">{{path}}</option>
              </select>
            </div>
            <span class="help-block col-sm-offset-2">The serial port to use for communications.</span>
          </div>
          <div class="form-group">
            <label for="baud" class="col-sm-2 control-label">baud rate</label>
            <div class="col-sm-10">
              <input name="baud" class="form-control" type="number" ng-model="settings.workspace_baud">
            </div>
            <span class="help-block col-sm-offset-2">The communication speed (typically 57600 or 115200).</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        control panel settings
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" action="#">

          <div class="checkbox">
            <label for="show-estop">
              <input name="show-estop" type="checkbox" ng-model="settings.workspace_show_estop">
              show e-stop button
            </label>
          </div>

          <div class="checkbox">
            <label for="show-spindle">
              <input name="show-spindle" type="checkbox" ng-model="settings.workspace_show_spindle">
              show spindle controls
            </label>
          </div>

          <div class="checkbox">
            <label for="show-home">
              <input name="show-home" type="checkbox" ng-model="settings.workspace_show_home">
              show homing controls
            </label>
          </div>

          <div class="checkbox">
            <label for="show-zero">
              <input name="show-zero" type="checkbox" ng-model="settings.workspace_show_zero">
              show zeroing controls
            </label>
          </div>
        </form>
      </div>
    </div>        
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        jog settings
      </div>
      <div class="panel-body">
        <form class="form" role="form" action="#">
           <div class="form-group">
            <label for="input-jog-feedrate" class="control-label">feedrate</label>
            <input id="input-jog-feedrate" class="form-control" type="number" min="0"
                ng-model="settings.workspace_jog_feedrate">
            <p class="help-block">Feedrate used when jogging (mm/min). 0 omits feedrate.</p>
          </div>

          <div class="checkbox">
            <label for="input-job-rapid">
              <input id="input-jog-rapid" type="checkbox" ng-model="settings.workspace_jog_rapid">
              rapid movement (G0)
              <p class="help-block">faster, but non-linear movements.</p>
            </label>
          </div>
        </form>
      </div>
    </div>        
  </div>

  <div class="col-sm-12">
    <button type="submit" class="btn btn-primary col-sm-10 col-sm-offset-1" ng-click="saveSettings()">save</button>
  </div>
</div>
